@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@font-face {
  font-family: "Proxima";
  src: url("/fonts/Proxima.otf");
}
@font-face {
  font-family: "Recoleta";
  src: url("/fonts/Recoleta.otf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
